doctype html
html
    head
        title='Zalogowano'
    body
        h1 Zalogowano!
        img(src='https://images.pexels.com/photos/954599/pexels-photo-954599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' alt='hello' width='600')
            